<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lania.biblioapp_cli">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioAppCli">
        <activity android:name="com.lania.biblioapp_cli.componentes.miembro.MiembroActivity" />
        <activity android:name="com.lania.biblioapp_cli.componentes.libros.LibroActivity" />
        <activity android:name="com.lania.biblioapp_cli.componentes.editor.EditorActivity" />
        <activity android:name="com.lania.biblioapp_cli.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>